<h1>Manage <%= @conference.name %></h1>

<h3><a href="/live/<%= @conference.id %>">Link to Live Chimes</a></h3>

<br>

<table style="width: 100%">
	<tr>
		<td style="width: 49%">
			<div class="well">
				<legend>Time Zone</legend>
				<%= form_for @conference, validate: true do |f| %>
					<%= f.select :time_zone, ActiveSupport::TimeZone::MAPPING.keys, style: 'text-align: right' %>
					<%= f.submit 'Update', class: 'btn btn-primary', style: 'float: right' %>
				<% end %>
			</div>
		</td>
		<td style="width: 2%"/>
		<% if Manager.find_by(conference: @conference, user: current_user).admin? %>
			<td style="width: 49%">
				<div class="well">
					<legend>Managers</legend>
					<%= form_for @conference do |f| %>
						<%= f.hidden_field :dummy, value: nil %>
						<% User.order(:name).all.each do |u| %>
							<% if u != current_user %>
								<%= f.check_box :user_ids, { checked: @conference.users.include?(u), multiple: true }, u.id, nil %> <%= u.name %><br/>
							<% end %>
						<% end %>
						<%= f.submit 'Update', class: 'btn btn-primary', style: 'float: right' %>
					<% end %>
				</div>
			</td>
		<% end %>
	</tr>
</table>

<h2>Rooms</h2>
<% if @conference.rooms.count > 0 %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
				<th></th>
				<th></th>
      </tr>
    </thead>
    <% @conference.rooms.sort_by { |c| c.name }.each do |room| %>
      <tr>
        <td style="width: 55%"><%= room.name %></td>
        <td style="width: 15%; text-align: right"><%= link_to 'Manage', room %></td>
        <td style="width: 15%; text-align: right"><%= link_to 'Clone', clone_room_path(room) %></td>
        <td style="width: 15%; text-align: right"><%= link_to 'Delete', room, :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <br/>
<% end %>

<div class="panel panel-default" style="width: 50%; float: none; margin-left: auto; margin-right: auto">
  <div class="panel-heading">New Room</div>
  <div class="panel-body">
    <%= form_for @room, validate: true, html: {class: 'form-horizontal'} do |f| %>
    <fieldset>
      <%= f.text_field :name, placeholder: ' room name', style: 'width: 75%' %>
			<%= f.hidden_field :conference, value: @conference.id %>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    </fieldset>
    <% end %>
  </div>
</div>
