<% content_for :head do %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js' %>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js' %>
	<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' %>
	<style>
		.fc-time-grid .fc-slats td {
	    height: 6em;
		}
	</style>
  <script type="text/javascript">
		$(window).on('beforeunload', function() {
			return true;
	  });
		<% now = Time.now %>
		<% @room.events.each do |e| %>
			<%= raw(e.chime_js(now)) -%>
		<% end %>
  </script>
<% end %>

<audio id="start-chime" preload>
	<source src="/chickadeedeedee.mp3" type="audio/mpeg"/>
  <source src="/chickadeedeedee.ogg" type="audio/ogg"/>
</audio>

<audio id="warning-chime" preload>
	<source src="/crickets.mp3" type="audio/mpeg"/>
  <source src="/crickets.ogg" type="audio/ogg"/>
</audio>

<audio id="passing-chime" preload>
	<source src="/japanese-temple-bell.mp3" type="audio/mpeg"/>
  <source src="/japanese-temple-bell.ogg" type="audio/ogg"/>
</audio>

<h1>Schedule for <%= @room.name %></h1>

Chimes should start sounding automatically!

<div id="schedule">
	<br/>
	<center>If schedule does not appear, try reloading!</center>
</div>
