<% content_for :head do %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' %>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.js' %>
	<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css' %>
<% end %>

<h1>Manage <%= @room.name %></h1>

<div class="well">
	<legend>Rename</legend>
	<%= form_for @room, validate: true do |f| %>
		<%= f.text_field :name, style: 'text-align: left; width: 75%' %>
		<%= f.submit 'Update', class: 'btn btn-primary', style: 'float: right' %>
	<% end %>
</div>

<table>
	<tr>
	  <td style="width: 20%; vertical-align: top">
			<legend>Event Types</legend>
			<% @room.conference.event_types.each do |e| %>

			<% end %>
			<div class="well">
				<%= form_for @room.conference.event_types.create!, url: add_event_type_room_path(@room), validate: true do |f| %>
					<%= f.text_field :name, style: 'text-align: left; width: 75%' %><br/>
					<%= f.text_field :length, style: 'text-align: left; width: 75%' %><br/>
					<%= f.text_field :warning_time, style: 'text-align: left; width: 75%' %><br/>
					<%= f.text_field :passing_time, style: 'text-align: left; width: 75%' %><br/>
					<%= f.submit 'Create', class: 'btn btn-primary btn-sm', style: 'float: right' %>
				<% end %>
		</div>
		</td>
		<td style="width: 5%"/>
	  <td style="width: 75%">
		  <div id="scheduler"></div>
	  </td>
	</tr>
</table>


<div id="wrapper">
  <div id="scheduler"></div>
</div>
