<% content_for :head do %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' %>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.js' %>
	<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css' %>
<% end %>

<h1>Manage <%= @room.name %></h1>

<div class="well">
	<legend>Rename</legend>
	<%= form_for @room, validate: true do |f| %>
		<%= f.text_field :name, style: 'text-align: left; width: 75%' %>
		<%= f.submit 'Update', class: 'btn btn-primary', style: 'float: right' %>
	<% end %>
</div>

<table>
	<tr>
	  <td style="width: 20%">
			<table>
				<%= @conference.event_types.each do |e| %>

				<% end %>
			<table>
		</td>
	  <td style="width: 80%">
		  <div id="scheduler"></div>
	  </td>
	</tr>
</table>


<div id="wrapper">
  <div id="scheduler"></div>
</div>
