<% content_for :head do %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' %>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.js' %>
	<%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css' %>
	<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css' %>
	<style>
		.fc-time-grid .fc-slats td {
	    height: 7em;
		}
		.fc-view
		 {
		   /* prevents dragging outside of widget */
		   width: 100%;
		   overflow: visible;
		 }
	</style>
<% end %>

<%= link_to 'Back to Conference Manager', @room.conference%>

<h1>Manage <%= @room.name %></h1>

<div class="well">
	<legend>Rename</legend>
	<%= form_for @room, validate: true do |f| %>
		<%= f.text_field :name, style: 'text-align: left; width: 75%' %>
		<%= f.submit 'Update', class: 'btn btn-primary', style: 'float: right' %>
	<% end %>
</div>

<table>
	<tr>
	  <td style="width: 20%; vertical-align: top">
			<legend>Event Types</legend>
			<p><i>Drag circles onto schedule.</i></p>
			<table>
				<% @room.conference.event_types.each do |et| %>
						<tr>
							<td style="width: 80%">
			          <b><%= et.name %></b><br/>
			          <%= et.length %> minutes
			          <% if et.warning_time_used %>
			            <br/>warning at <%= et.warning_time %> min.
			          <% end %>
			          <% if et.passing_time_used %>
			            <br/>warning at <%= et.passing_time %> min.
			          <% end %>
							</td>
							<td style="width: 20%">
								<div id="et[<%= et.id %>]" event-type="<%= et.id %>" data-duration="<%= Time.at(et.length * 60).utc.strftime("%H:%M:%S") %>" class="ui-widget-content ui-draggable ui-draggable-handle" style="width: 32px; height: 32px; border-radius: 16px; background: <%= et.color %>; z-index: 100"/>
							</td>
						</tr>
				<% end %>
			</table>
			<br/>
			<div class="well" style="overflow: hidden">
        <legend>New</legend>
				<%= form_for @room.conference.event_types.new, url: add_event_type_room_path(@room), validate: true do |f| %>
					<%= f.text_field :name, placeholder: ' name', style: 'text-align: left; width: 75%' %><br/>
					<%= f.text_field :length, placeholder: ' length', style: 'text-align: left; width: 75%' %><br/>
					<%= f.text_field :warning_time, placeholder: ' warning bell', style: 'text-align: left; width: 75%', id: 'warning_time', disabled: true %>
          <%= f.check_box :warning_time_used, id: 'warning_time_used' %><br/>
					<%= f.text_field :passing_time, placeholder: ' passing bell', style: 'text-align: left; width: 75%', id: 'passing_time', disabled: true %>
          <%= f.check_box :passing_time_used, id: 'passing_time_used' %><br/><br/>
					<%= f.submit 'Create', class: 'btn btn-primary', style: 'float: right' %>
				<% end %>
		</div>
			<div class="well" id="trash" style="overflow: hidden; height: 200px">
        <legend>Trash</legend>
				<i>Drag an event here to delete it.</i>
			</div>
		</div>
		</td>
		<td style="width: 5%"/>
	  <td style="width: 75%">
		  <div id="scheduler">
				<br/>
		  	<center>If scheduler does not appear, try reloading!</center>
		  </div>
	  </td>
	</tr>
</table>
